@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<script>

</script>

<a href="#" onclick='javascript: opener.window.document.all("pic").value = document.all("txtFindings").value;
    opener.window.document.all("txtfilename").value = document.all("txtFindings1").value;
    window.close(); return false;'>
    關閉視窗
</a>
