
@{
    ViewBag.Title = "B";
}

<h2>B</h2>

<form id="form1" runat="server">
    <select id="pets" name="pets">
        <option value="dog">Dog</option>
        <option value="cat" selected>Cat</option>
        <option value="hamster">Hamster</option>
        <option value="parrot">Parrot</option>
        <option value="goldfish">Goldfish</option>
    </select>

    <p>@ViewBag.funcName</p>

    <input type="button" value="關閉子視窗" id="btnSub" />
    <!--引用jQuery-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSub").on("click", function () {
                let subParam = "TTTTT";             
                window.opener.document.getElementById("divParent").innerHTML = "兒子給的值";
                //window.opener.document.getElementById("divParent2").innerHTML = "選的動物: " + $('#pets').val();
                //window.opener.windowOpenReturnFunc(subParam);//執行父視窗的function
                //window.opener["@ViewBag.funcName"](subParam);
                window.opener.window.windowOpenReturnFunc(subParam);
                
                window.close();
            });
        });
    </script>
    <script type="text/javascript">
        //window.onunload = refreshParent;
        //function refreshParent() {
        //    window.opener.location.reload();
        //}
    </script>
</form>

<a href="#" onclick='
    window.close(); return false;'>
    關閉視窗
</a>